body {
    margin: 0px;
    font-family:Helvetica,sans-serif,Arial;
}
.main{
	height: -webkit-fill-available;;
	width:100%;
}
.head{
	background-color:#0078d7;
	width:100%;
	height:50px;
	display:flex;
}
.head-icon{
	padding:14px;
	width:17px;
}
.head-icon > img{
	width:23px;
}
.todo{
	color:#ffffff;
	font-size:16px;
	font-weight:600;
	line-height:45px;
	margin-left:12px;
	padding:2px;
}
.searchBox{
	margin:0.5% 0% 1% 27.5%;
	width:26%;
	height:32px;
	padding:1px;
	display:flex;
	background-color:#c3dcf7;
	border-radius:2px;
}
input{
    background-color: #777777;
    background-color: transparent;
    padding: 8px;
    border-width: 0px;
    border-style: none;
    margin-left:8px;
    outline:none;
}
.searchBox input::placeholder{
	color:#0078d7;
	font-size:13.33px;
	font-weight:400;
	line-height:30px;
}
.searchBox > i{
	color:#0078d7;
	padding:3px;
}
.searchBox:hover{
    background-color:#ffffff;
}
.head-right{
    margin-left:29%;
}
.head-right > img{
    width:22px;
    padding:3px;
}
.head-right .Icon{
    width:20px;
    color:#ffffff;
}
.body{
    display:flex;
}
.sidebar{
    background-color:#f4f4f4;
    width:50px;
}
.sidebar .head{
    height:48px;
}
 .sidebarbody {
    height:681px;
}
.sidebarbody div{
    display:flex;
}
.sidebarbody img{
    margin-top:18px;
    padding: 2px 2px 2px 10px;
}
.sidebar .head img{
    width:20px;
}
.left-side-menu {
    margin-top:17px;
    color:#34373d;
    display: none;
}
.left-side-menu-open{
    display:block !important;
}
.left-side-menu-close{
    display:none !important;
}
.menu-bar-open {
    width: 290px;
    height:681px;
}
.menu-bar-close {
   width: 50px;
   height:681px;
}
.img{
    width:22px;
    padding:3px;
}
.change-nav{
    width: 290px;
    height:48px;
    background-color:#f4f4f4;
    border:none;
    outline:none;
    cursor:pointer;
}
.tasks{
    margin-left:10px;
    padding:10px;
}
.tasks-display{
    margin-top:0;
    padding:2px;
}
.task-name{
    font-weight:600;
    font-size:20px;
    color:#4472e6;
}
.add-subtask{
    color:#0078d7;
    padding:4px;
}
.display-subtasks{
    padding:15px;
    margin-top:10px;
    font-size:25px;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    width:100%;
}