html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0px;
    font-family:Helvetica,sans-serif,Arial;
}
.main{
	height: -webkit-fill-available;;
	width:100%;
}
.head{
	background-color:#0078d7;
	width:100%;
	height:50px;
	display:flex;
}
.head-image{
	padding:14px;
	width:17px;
}
.head-image > img{
	width:23px;
}
.todo{
	color:#ffffff;
	font-size:16px;
	font-weight:600;
	line-height:45px;
	margin-left:12px;
	padding:2px;
}
.search-box{
	margin:0.5% 0% 1% 27.5%;
	width:26%;
	height:32px;
	padding:1px;
	display:flex;
	background-color:#c3dcf7;
	border-radius:2px;
}
input{
    background-color: #777777;
    background-color: transparent;
    padding: 8px;
    border-width: 0px;
    border-style: none;
    margin-left:8px;
    outline:none;
}
.search-box input::placeholder{
	color:#0078d7;
	font-size:13.33px;
	font-weight:400;
	line-height:30px;
}
.search-box > i{
	color:#0078d7;
	padding:3px;
}
.search-box:hover{
    background-color:#ffffff;
}
.head-right-side{
    margin-left:29%;
}
.head-right-side > img{
    width:22px;
    padding:3px;
}
.head-right-side .Icon{
    width:20px;
    color:#ffffff;
}
.todo-body{
    display:flex;
}
.side-bar{
    background-color:#f4f4f4;
    width:50px;
}
.side-bar .head{
    height:48px;
}
.side-bar .head img{
    width:20px;
}
.side-bar-menu {
    height:681px;
}
.side-bar-menu div{
    display:flex;
}
.side-bar-menu img{
    margin-top:18px;
    padding: 2px 2px 2px 10px;
}

.left-side-menu {
    margin-top:17px;
    color:#34373d;
    display: none;
}
.left-side-menu-open{
    display:block !important;
    width:200px;
}
.left-side-menu-close{
    display:none !important;
    width:50px;
}
.menu-bar-open {
    width: 290px;
    height:681px;
}
.menu-bar-close {
   width: 50px;
   height:681px;
}
.change-navigation{
    width: 290px;
    height:48px;
    background-color:#f4f4f4;
    border:none;
    outline:none;
    cursor:pointer;
}
.center-page{
    margin:0;
}
.tasks{
    margin-left:10px;
    padding:10px;
}
.tasks-display{
    margin-top:0;
    padding:2px;
}
.task-name{
    font-weight:600;
    font-size:20px;
    color:#4472e6;
}
.display-subtasks{
    padding:20px;
}
.sub-task{
    height:52px;
    margin-top:10px;
}
.sub-task  > .center-left{
    width:30px;    
}
.sub-task > .middle{
    padding:10px;
    font-size:15px;
}
.sub-task > .center-right{
    margin-left:1100px;
}
.right{
    width:30%;
    display:none;
}
.right-open{
    display:block;
}
.right-close{
    display:none;
}
.close-button{
    display:none;
}
.sub-task:hover{
    display:block;
    cursor:pointer;
    background-color:#f4f6ff;
}
.close-button:hover{
    display:block;
}